<html>
    
    <% include ../partials/head %>
    <style>
    .card {
        width: 30%;
        margin: 5% auto;
    }
    </style>
    <body>
        <div class="card">
            <div class="card-body">
                <h3>Register</h3>
                <br />
                <% if(error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error %>
                      </div>
                      <% }%>
                <form method="POST" action="/api/users/register">
                    <div class="form-group">
                        <input type="text" class="form-control"  name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
            </div>
          </div>
    </body>
</html>