<html>
    
    <% include ../partials/head %>
    <style>
    .card {
        width: 30%;
        margin: 5% auto;
    }
    </style>
    <body>
        <div class="card">
            <div class="card-body">
                <h3>Add item</h3>
                <br />
                <% if(error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error %>
                      </div>
                      <% }%>
                      
                <form method="POST" action="/api/admins/addnews">
                    <div class="form-group">
                        <input type="text" class="form-control"  name="title" placeholder="title" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="description" required>
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control" name="url" placeholder="url" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="imageurl" placeholder="imageurl" required>
                </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </form>
            </div>
          </div>
    </body>
</html>